mat-card-title {
    font-weight: bold;
}

mat-card-header {
    align-content: center;
}

mat-card {
    width: 200px;
    margin: 10px;
    text-align: center;
}

mat-card:hover {
    cursor: pointer;
    background-color: rgba(33, 37, 54, 0.8);
    box-shadow: 3px 3px 13px -2px rgba(42, 47, 65, 1);
}

.card.highlight-card {
    display: flex;
    flex-wrap: wrap;
}

.ng-star-inserted {
    display: flex;
    flex-wrap: wrap;
}